<section>
  <div class="footer-container">
    <div class="container pt-3 pb-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-4 mt-2 mb-3 align-self-center text-center">
          <h2 class="primary-heading text-white">Get Started</h2>
          <div class="mt-3">
            <a class="btn-index-footer" href="#">
              <span>Keats for&nbsp;<strong>Individual</strong></span>
              <span><i class="fas fa-user"></i></span>
            </a>
            <a class="btn-index-footer" href="partnership">
              <span>Keats for&nbsp;<strong>Business</strong></span>
              <span><i class="fas fa-users"></i></span>
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-6 offset-md-2 col-md-2 mt-2 mb-3">
          <div class="footer-title">Menu</div>
          <div><a class="text-capitalize footer-link" href="/about">about us</a></div>
          <div><a class="text-capitalize footer-link" href="/jobs">jobs</a></div>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mt-2 mb-3">
          <div class="footer-title">Social</div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-facebook-f"></i> facebook</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-twitter"></i> twitter</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-medium"></i> medium</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-github"></i> gitHub</a></div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 mt-2 mb-3">
          <div class="footer-title">Contact Us</div>
          <a class="footer-contact-link" href="mailto:team@keats.app"><i class="fa fa-envelope" aria-hidden="true"></i> team@keats.app</a>
        </div>
      </div>
    </div>
    <div style="background: linear-gradient(to bottom, rgba(35, 47, 62, 0.38), rgba(35, 47, 62, 0.42));">
      <div class="container mt-4">
        <div class="row justify-content-center pt-4 pb-4">
          <div class="col-md-6 align-self-center copyright-text">
            <a class="footer-brand a-text-dec" href="/">
              <img src="https://s3.ap-south-1.amazonaws.com/keats-app/brands/Keats-logo-beta-light.png" height="30px;">
            </a>
            <p class="footer-brand-subtext">Learn Computer Science by doing</p>
          </div>
          <div class="col-md-6 align-self-center copyright-terms text-md-right text-sm-left">
            <a href="/privacy">Privacy Policy</a> <span class="mr-1 ml-1">|</span> <a href="/refund">Refund Policy</a> <span class="mr-1 ml-1">|</span> <a href="/terms">Terms and Conditions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- <a class="footer-brand a-text-dec" href="/">Keats</a>
          <p class="footer-brand-subtext">Learn Computer Science by doing</p> -->