<section>
  <div class="footer-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 mt-2 mb-3">
          <a class="footer-brand a-text-dec" href="/">Keats</a>
          <p class="footer-brand-subtext">Learn science by doing</p>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mt-2 mb-3">
          <div class="footer-title">Menu</div>
          <div><a class="text-capitalize footer-link" href="/about">about us</a></div>
          <div><a class="text-capitalize footer-link" href="/jobs">jobs</a></div>
          <div><a class="text-capitalize footer-link" href="/partnership">partnership</a></div>
          <!-- <div><a class="text-capitalize footer-link" href="/stories">stories</a></div> -->
          <div><a class="text-capitalize footer-link" href="/mobile">mobile</a></div>
          <div><a class="text-capitalize footer-link" href="/pricing">pricing</a></div>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mt-2 mb-3">
          <div class="footer-title">Social</div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-facebook-f"></i> facebook</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-twitter"></i> twitter</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-medium"></i> medium</a></div>
          <div><a class="text-capitalize footer-link" href="#"><i class="fab fa-github"></i> gitHub</a></div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 mt-2 mb-3">
          <div class="footer-title">Contact Us</div>
          <a class="footer-contact-link" href="mailto:team@keats.app"><i class="fa fa-envelope" aria-hidden="true"></i> team@keats.app</a>
        </div>
      </div>
      <div class="copyright-underline"></div>
      <div class="row">
        <div class="col-md-6 copyright-text">
          ©Keats 2018.
        </div>
        <div class="col-md-6 copyright-terms text-md-right text-sm-left">
          <a href="/privacy">Privacy Policy</a> <span class="mr-1 ml-1">|</span> <a href="/refund">Refund Policy</a> <span class="mr-1 ml-1">|</span> <a href="/terms">Terms and Conditions</a>
        </div>
      </div>
    </div>
  </div>
</section>