<section>
  <nav class="navbar navbar-expand-lg navbar-light navbar-container">
    <a class="navbar-brand" href="/">Keats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-end mr-5" style="width: 100%;">
        <li class="nav-item">
          <a href="/" class="nav-link text-uppercase">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link text-uppercase">About us</a>
        </li>
        <li class="nav-item">
          <a href="/stories" class="nav-link text-uppercase">stories</a>
        </li>
        <li class="nav-item">
          <a href="/job" class="nav-link text-uppercase">Job</a>
        </li>
        <li class="nav-item">
          <a href="/partnership" class="nav-link text-uppercase">partnership</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/mobile" class="nav-link text-uppercase">mobile</a>
        </li> -->
      </ul>
    </div>
  </nav>
</section>