@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,900|Quicksand:400,500,700');
html, body {
  /* Adjust font size */
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-family: 'Libre Franklin', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}
:root {
  /* light background */
  --primary-background: #FFFFFF;
  --secondary-background: #FAFAFA;
  /* dark background */
  --primary-dark-background: #333638;
  --secondary-dark-background: #212121;
  /* dark text color */
  --primary-color: #333638;
  --primary-dark-color: #1A1D1F;
  /* button colors */
  --button-primary-color: #1E88E5;
  --button-primary-hightlight-color: #233142;
  --button-text-primary-color: #233142;
}
.border {
  border: 1px solid red !important;
}
/* ===================================================================================== */
/* buttons */
/* ===================================================================================== */
.btn-nav {
  margin-left: 5px;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 11px;
}
.btn-light.focus, .btn-light:focus {
  box-shadow: none;
}
.btn-primary {
  /*color: #000;*/
  /*background-color: #fff;*/
  border: none;
  box-shadow: none;
  padding: 7px 12px;
}
.btn-square {
  border-radius: 0px;
  padding: 10px 15px;
  font-size: 16px;
}
.btn-round {
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
}
.btn-border {
  /*border: 1px solid var(--button-primary-hightlight-color);*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
  color: #fff;
  /*background-color: var(--button-primary-hightlight-color);
  /*border-color: var(--button-primary-hightlight-color);*/
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  /*background-color: var(--button-primary-hightlight-color);
  /*border-color: var(--button-primary-hightlight-color);*/
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
@media (max-width: 767px) {
  .btn-round {
    margin-left: 3px;
    padding: 10px 20px;
    font-size: 14px;
  }
}
/* ===================================================================================== */
/* navbar.html */
/* ===================================================================================== */
.navbar-container {
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.navbar-container .navbar-brand {
  font-size: 25px;
  font-weight: 500;
  color: #33D4DA;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.navbar-container .navbar-brand:hover {
  color: #33D4DA;
}
.navbar-container .navbar-nav .nav-item .nav-link {
  /*border: 1px solid red;*/
  color: #1ABBC1;
  font-size: 15px;
  font-weight: 600;
  padding-right: 20px;
  letter-spacing: 1px;
}
.navbar-container .navbar-nav .nav-item .nav-link:hover {
  color: #33D4DA;
}
/* ===================================================================================== */
/* footer.html */
/* ===================================================================================== */
.footer-container {
  background: #233142;
  color: #FFF;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-brand {
  font-size: 27px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.footer-title {
  font-size: 18px;
  margin-bottom: 9px;
  font-weight: 600;
}
.footer-brand:hover, .footer-link:hover, .footer-contact-link:hover {
  color: #ccc;
}
.footer-brand-subtext {
  color: #ccc;
}
.footer-link {
  text-decoration: none !important;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
}
.footer-contact-link {
  text-decoration: none !important;
  color: #fff;
}
.footer-link i, .footer-contact-link i {
  width: 20px;
}
.copyright-underline {
  background: linear-gradient(rgba(255, 255, 255, 0.61) 50%, rgba(0, 0, 0, 0.61) 50%);
  width: 100%;
  height: 1px;
  margin-top: 2px;
}
.copyright-text {
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}
.copyright-terms {
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}
.copyright-terms a {
  text-decoration: none;
  color: #fafafa;
}
.copyright-terms a:hover {
  color: #ccc;
}
/* ===================================================================================== */
/* index.html */
/* ===================================================================================== */
.index-hero-container {
  min-height: 500px;
  height: 100vh;
}
.index-hero-container .left-panel {
  background-image: url('../images/keats-hero-unit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 550px;
}
.index-hero-container .right-panel {
  text-align: left;
}
.index-hero-container .right-panel p {
  font-size: 18px; 
  color: #333;
}
.slide-bar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.45);
}
.slide-bar .left-control {
  position: absolute;
  height: 70px;
  left: 80px;
  display: none;
}
.slide-bar .middle-panel {
  position: absolute;
  height: 70px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.slide-bar .right-control {
  position: absolute;
  height: 70px;
  right: 80px;
  display: none;
}
.slide-bar .carousel-item {
  height: 70px;
  font-size: 20px;
}
.slide-bar .carousel-item .carousel-item-text {
  height: 70px;
  text-align: center;
  line-height: 3.5;
}
.way-of-learn-image {
  background-image: url('../images/student.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 170px;
}
.learn-anything-image-left {
  background-image: url('../images/responsive.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 160px;
  display: none;
}
.learn-anything-image-right {
  background-image: url('../images/responsive.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 160px;
}
.for-scholl {
  background-image: url('../images/classroom.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 170px;
}
@media (max-width: 767px) {
  .index-hero-container .left-panel {
    display: none;
  }
  .learn-anything-image-left  {
    display: block;
  }
  .learn-anything-image-right {
    display: none;
  }
}
@media (max-width: 945px) {
  .slide-bar span {
    display: none;
  }
}
/* ===================================================================================== */
/* about.html */
/* ===================================================================================== */
.about-hero-container {
  min-height: 500px;
  height: 100vh;
}
.about-hero-container .left-panel {
  background-image: url('../images/undraw_product_teardown_elol.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.about-hero-container .right-panel {
  text-align: left;
}
.about-image-content {
  position: absolute;
  width: 220px;
  bottom: 0;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.61);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.about-content-name {
  font-size: 17px;
  font-weight: 500;
}
.about-content-subtext {
  color: #717171;
}
@media (max-width: 767px) {
  .about-hero-container .right-panel {
    text-align: center;
  }
  .about-hero-container .left-panel {
    display: none;
  }
  .about-core-values {
    text-align: center;
  }
}
/* ===================================================================================== */
/* partnership.html */
/* ===================================================================================== */
.partner-hero-container {
  min-height: 500px;
  height: 100vh;
}
.partner-hero-container .left-panel {
  background-image: url('../images/partnership.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.partner-hero-container .right-panel {
  text-align: left;
}
.partner-contact {
  color: #717171;
  font-weight: 500;
}
@media (max-width: 767px) {
  .partner-hero-container .left-panel {
    display: none;
  }
  .partner-hero-container .right-panel {
    text-align: center;
  }
}
/* ===================================================================================== */
/* jobs.html */
/* ===================================================================================== */
.job-hero-container {
  min-height: 500px;
  height: 100vh;
}
.job-hero-container .left-panel {
  background-image: url('../images/undraw_interview_rmcf.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.job-hero-container .right-panel {
  text-align: left;
}
.job-contact {
  color: #717171;
  font-weight: 500;
}
@media (max-width: 767px) {
  .job-hero-container .left-panel {
    display: none;
  }
  .job-hero-container .right-panel {
    text-align: center;
  }
}
/* ===================================================================================== */
/* Pricing.html */
/* ===================================================================================== */
.pricing-hero-container {
  padding-top: 80px;
  padding-bottom: 40px;
}
.pricing-hero-container .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pricing-hero-container .flex-item {
  width: 300px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.pricing-hero-container .flex-item .card {
  border-radius: 0px;
}
.pricing-hero-container .flex-card-header {
  min-height: 35px;
  font-size: 23px;
  color: #333;
  font-weight: 500;
}
.pricing-hero-container .flex-card-description {
  margin-bottom: 10px;
}
.pricing-hero-container .flex-card-description .caption {
  padding: 0px;
  margin: 0px;
  min-height: 50px;
}
.pricing-hero-container .flex-card-description .access {
  padding: 0px;
  margin: 0px;
  min-height: 50px;
}
.pricing-hero-container .flex-card-pricing {
  font-size: 25px;
  margin: 20px 0px;
}
.pricing-hero-container .flex-card-pricing span {
  font-size: 18px;
  color: #717171;
}
.pricing-hero-container .flex-card-features {
  min-height: 250px;
  margin-bottom: 10px;
}
.pricing-hero-container .flex-card-features .list-group-item {
  border: none;
  padding: 5px 0px;
  font-size: 17px;
  font-weight: 500;
  color: #717171;
}
.pricing-hero-container .flex-seperate {
  width: 1px;
  height: 590px;
  margin: 0px 15px;
  border-left: 1px solid #ccc;
}
/* popular */
.pricing-hero-container .flex-item-popular {
  background-color: #3f8abf;
  width: 320px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.pricing-hero-container .flex-item-popular .text {
  font-weight: 500;
  color: #fff;
}
.pricing-hero-container .flex-item-popular .flex-item {
  width: 310px;
  margin: 0% auto;
  height: 650px;
  box-shadow: 0px 0px 0px transparent;
}
.pricing-hero-container .flex-item-popular .flex-item .card {
  border: none;
  border-radius: 0px;
  height: 100%;
}
.pricing-hero-container .flex-item-popular .flex-card-header {
  /*min-height: 60px;*/
  font-size: 20px;
  columns: #333;
  margin-bottom: 10px;
}
.pricing-hero-container .flex-item-popular .flex-card-description {
  min-height: 20px;
}
.pricing-hero-container .flex-item-popular .flex-card-features {
  min-height: 340px;
}
@media (max-width: 992px) {
  .pricing-hero-container .flex-seperate {
    display: none;
  }
  .pricing-hero-container .flex-container {
    display: flex;
    flex-direction: column;
  }
  .pricing-hero-container .flex-item {
    margin: 10px 0px;
    width: 100%;
  }
  /* popular */
  .pricing-hero-container .flex-item-popular {
    width: 100%;
  }
  .pricing-hero-container .flex-item-popular .flex-item {
    width: 99%;
  }
  .pricing-hero-container .flex-card-features {
    min-height: 10px;    
  }
  .pricing-hero-container .flex-item-popular .flex-card-features {
    min-height: 10px;
  }
  .pricing-hero-container .flex-item-popular .flex-item {
    height: 100%;
  }
}
/* ===================================================================================== */
/* Privacy.html & terms.html */
/* ===================================================================================== */
.p-p-t {
  padding-top: 130px;
  padding-bottom: 50px;
}
.p-p-t .card{
  padding: 20px; 
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.p-p-t .card h3 {
  padding-bottom: 15px;
}
.p-p-t .card h5 {
  padding-bottom: 5px;
}
.p-p-t .card .overview {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  color: #717171;
  text-align: justify;
}
.p-p-t .card p {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 0px;
  color: #717171;
  text-align: justify;
}
/* ===================================================================================== */
/* mobile.html */
/* ===================================================================================== */
.mobile {
  padding-top: 120px;
  padding-bottom: 40px;
}
.mobile .card {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.mobile .card .card-body {
  padding: 0px;
  margin: 0px;
}
.mobile .card .card-body h2 {
  text-align: center;
  padding: 30px 0px;
  background-color: #1ABBC1;
  color: #fff;
}
.mobile .mobile-content {
  padding: 40px 150px;
  text-align: center;
}
.mobile .mobile-content h4 {
  padding-bottom: 30px;
}
.mobile .card .card-body a {
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 8px;
  padding: 2px 8px 7px;
  margin-top: 10px;
  text-decoration: none;
}
.mobile .card .card-body a .logo{
  display: inline-block
}
.mobile .card .card-body a>span>span {
  display: block;
  font-size: 14px;  
}
.mobile .card .card-body a .text {
  display: inline-block;
  padding-left: 10px;
}
.back {
  background-image: url('https://d35aaqx5ub95lt.cloudfront.net/images/about-sprite5.svg');
  background-position: -796px -353px;
  height: 141px;
  width: 477px;
  margin-top: 50px;
  margin-left: 100px;
}
@media (max-width: 767px) {
  .mobile .mobile-content {
    padding: 40px 40px;
  }
  .back {
    margin-left: -60px;
  }
}
/* ===================================================================================== */
/* help.html */
/* ===================================================================================== */
.help {
  padding-top: 120px;
  padding-bottom: 40px;
}
.help .card {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}