@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,900|Quicksand:400,500,700');
html, body {
  /* Adjust font size */
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-family: 'Libre Franklin', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}
:root {
  /* light background */
  --primary-background: #FFFFFF;
  --secondary-background: #FAFAFA;
  /* dark background */
  --primary-dark-background: #333638;
  --secondary-dark-background: #212121;
  /* dark text color */
  --primary-color: #333638;
  --primary-dark-color: #1A1D1F;
  /* button colors */
  --button-primary-color: #1E88E5;
  --button-primary-hightlight-color: #233142;
  --button-text-primary-color: #233142;
}
.border {
  border: 1px solid red !important;
}
/* ===================================================================================== */
/* buttons */
/* ===================================================================================== */
.btn-nav {
  margin-left: 5px;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 11px;
}
.btn-light.focus, .btn-light:focus {
  box-shadow: none;
}
.btn-primary {
  /*color: #000;*/
  /*background-color: #fff;*/
  border: none;
  box-shadow: none;
  padding: 7px 12px;
}
.btn-square {
  border-radius: 0px;
  padding: 10px 15px;
  font-size: 16px;
}
.btn-round {
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
}
.btn-border {
  /*border: 1px solid var(--button-primary-hightlight-color);*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
  color: #fff;
  /*background-color: var(--button-primary-hightlight-color);
  /*border-color: var(--button-primary-hightlight-color);*/
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  /*background-color: var(--button-primary-hightlight-color);
  /*border-color: var(--button-primary-hightlight-color);*/
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
@media (max-width: 767px) {
  .btn-round {
    margin-left: 3px;
    padding: 10px 20px;
    font-size: 14px;
  }
}
/* ===================================================================================== */
/* navbar.html */
/* ===================================================================================== */
.index-navbar-container {
  background-color: transparent;
  z-index: 9999;
  position: absolute;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.index-navbar-container .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  letter-spacing: 1.5px;
}
.btn-index-nav {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: 0.3s ease background-color, 0.3s ease box-shadow, 0.3s ease transform, 0.3s ease color;
}
.btn-index-nav:hover {
  background-color: #fff !important;
  transform: translateY(-2px);
  color: #3b95ff !important;
}
.navbar-container {
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;
}
.navbar-container .navbar-nav .nav-item .nav-link {
  color: #3b95ff;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  letter-spacing: 1.5px;
}
.navbar-container .navbar-nav .nav-item .nav-link:hover {
  opacity: .75;
}
.navbar-container .btn-index-nav {
  border: 2px solid #3b95ff;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background: linear-gradient(to bottom, rgba(35, 47, 62, 0.95), rgba(35, 47, 62, 0.95));
    padding: 0px 20px 0px 20px;
  }
  .navbar-container .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  .btn-index-nav {
    margin-bottom: 10px;
  }
}
/* ===================================================================================== */
/* footer.html */
/* ===================================================================================== */
.footer-container {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-footer-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.btn-index-footer {
  width: 350px;
  margin-top: 10px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #fff;
  color: #4f483f;
  letter-spacing: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: 0.3s ease background-color, 0.3s ease box-shadow, 0.3s ease transform, 0.3s ease color;
  text-decoration: none !important;
}
.btn-index-footer:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  color: #4f483f;
  opacity: .95;
}
.btn-index-footer span i {
  padding-left: 10px;
  font-size: 20px;
}
.footer-brand {
  font-size: 27px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.footer-title {
  font-size: 18px;
  margin-bottom: 9px;
  font-weight: 700;
  color: #fff;
}
.footer-brand:hover, .footer-link:hover, .footer-contact-link:hover {
  color: #ccc;
}
.footer-brand-subtext {
  color: #ccc;
}
.footer-link {
  text-decoration: none !important;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  font-weight: 600;
}
.footer-contact-link {
  text-decoration: none !important;
  color: #fff;
  font-weight: 600;
}
.footer-link i, .footer-contact-link i {
  width: 20px;
}
.copyright-underline {
  background: linear-gradient(rgba(255, 255, 255, 0.61) 50%, rgba(0, 0, 0, 0.61) 50%);
  width: 100%;
  height: 1px;
  margin-top: 2px;
}
.copyright-text {
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}
.copyright-terms {
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}
.copyright-terms a {
  text-decoration: none;
  color: #fafafa;
}
.copyright-terms a:hover {
  color: #ccc;
}
/* ===================================================================================== */
/* index.html */
/* ===================================================================================== */

.primary-heading {
  color: #3d4251;
  font-weight: 700;
}

.primary-border {
  border: 2px solid #ccc;
}
.secondary-border {
  border: 2px solid #ccc;
}
.success-border {
  border: 2px solid #ccc;
}
.danger-border {
  border: 2px solid #ccc;
}
.warning-border {
  border: 2px solid #ccc;
}
.info-border {
  border: 2px solid #ccc;
}

.primary-border:hover {
  border: 2px solid #4D8DD2;
  cursor: pointer;
}
.secondary-border:hover {
  border: 2px solid #858A8E;
  cursor: pointer;
}
.success-border:hover {
  border: 2px solid #62A471;
  cursor: pointer;
}
.danger-border:hover {
  border: 2px solid #BF6971;
  cursor: pointer;
}
.warning-border:hover {
  border: 2px solid #D2B151;
  cursor: pointer;
}
.info-border:hover {
  border: 2px solid #686B6E;
  cursor: pointer;
}

.index-main-header {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  border-bottom: 1px solid #eee;
}
.index-main-header .container {
  height: 73%;
}
.btn-index {
  width: 360px;
  margin-top: 30px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: 0.3s ease background-color, 0.3s ease box-shadow, 0.3s ease transform, 0.3s ease color;
}
.btn-index:hover {
  background-color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  color: #3b95ff;
}
.index-header-content {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.index-header-subcontent {
  font-size: 30px;
  color: #888;
  font-weight: 500;
}
.course-icon svg {
  width: 22px;
  height: 22px;
}
.course-name {
  vertical-align: middle;
  margin-left: 10px;
}
.keats-demo-background {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-demo-screen.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 450px;
}
.make-dreams-background {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-make-your-dream.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 450px;
}
.how-it-works-container {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-h-i-t-container.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: 100%;
  padding-top:40px;
}
.learn-icon-container {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-h-i-t-learn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}
.interact-icon-container {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/Keats-h-i-w-interact.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}
.acheive-icon-container {
  background: url('https://s3.ap-south-1.amazonaws.com/keats-app/brands/keats-h-i-w-acheive.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}
@media (max-width: 991px) {
  .index-main-header .container {
    height: 67%;
  }
  .index-header-content {
    font-size: 35px;
  }
  .index-header-subcontent {
    font-size: 30px;
  }
  .navbar .navbar-collapse {
    background: linear-gradient(to bottom, rgba(35, 47, 62, 0.95), rgba(35, 47, 62, 0.95));
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 767px) {
  .index-main-header .container {
    height: 67%;
  }
  .btn-index {
    margin: auto;
    margin-top: 30px;
  }
  .index-header-content {
    font-size: 27px;
    text-align: center;
  }
  .index-header-subcontent {
    font-size: 20px;
    text-align: center;
  }
  .make-dreams-background {
    display: none;
  }
}
/* ===================================================================================== */
/* about.html */
/* ===================================================================================== */
.about-hero-container {
  min-height: 500px;
  height: 100vh;
}
.about-hero-container .left-panel {
  background-image: url('../images/undraw_product_teardown_elol.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.about-hero-container .right-panel {
  text-align: left;
}
.about-image-content {
  position: absolute;
  width: 220px;
  bottom: 0;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.61);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.about-content-name {
  font-size: 17px;
  font-weight: 500;
}
.about-content-subtext {
  color: #717171;
}
@media (max-width: 767px) {
  .about-hero-container .right-panel {
    text-align: center;
  }
  .about-hero-container .left-panel {
    display: none;
  }
  .about-core-values {
    text-align: center;
  }
}
/* ===================================================================================== */
/* partnership.html */
/* ===================================================================================== */
.partner-hero-container {
  min-height: 500px;
  height: 100vh;
}
.partner-hero-container .left-panel {
  background-image: url('../images/partnership.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.partner-hero-container .right-panel {
  text-align: left;
}
.partner-contact {
  color: #717171;
  font-weight: 500;
}
@media (max-width: 767px) {
  .partner-hero-container .left-panel {
    display: none;
  }
  .partner-hero-container .right-panel {
    text-align: center;
  }
}
/* ===================================================================================== */
/* jobs.html */
/* ===================================================================================== */
.job-hero-container {
  min-height: 500px;
  height: 100vh;
}
.job-hero-container .left-panel {
  background-image: url('../images/undraw_interview_rmcf.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
}
.job-hero-container .right-panel {
  text-align: left;
}
.job-contact {
  color: #717171;
  font-weight: 500;
}
@media (max-width: 767px) {
  .job-hero-container .left-panel {
    display: none;
  }
  .job-hero-container .right-panel {
    text-align: center;
  }
}
/* ===================================================================================== */
/* Privacy.html & terms.html */
/* ===================================================================================== */
.p-p-t {
  padding-top: 130px;
  padding-bottom: 50px;
}
.p-p-t .card{
  padding: 20px; 
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}
.p-p-t .card h3 {
  padding-bottom: 15px;
}
.p-p-t .card h5 {
  padding-bottom: 5px;
}
.p-p-t .card .overview {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  color: #717171;
  text-align: justify;
}
.p-p-t .card p {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 0px;
  color: #717171;
  text-align: justify;
}
/* ===================================================================================== */
/* help.html */
/* ===================================================================================== */
.help {
  padding-top: 120px;
  padding-bottom: 40px;
}
.help .card {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(176, 176, 176, 0.61);
}